{{!-- Codex critical injuries. Keeps .item/.item-edit/.item-delete hooks. --}}
<div class="cdx-cards-head"><span>{{localize "SWFFG.CriticalInjuries"}}</span><span class="item-add criticalinjury"><i class="far fa-plus-square"></i></span></div>
{{#each items as |item id|}} {{#iff item.type '==' 'criticalinjury'}}
<div class="item cdx-injury" data-item-id="{{item._id}}">
  <div class="cdx-inj-name">{{item.name}}</div>
  <div class="cdx-inj-sev">{{renderMultiple item.system.severity '<img class="cdx-sev-img" src="systems/starwarsffg/images/dice/starwars/purple.png" />'}}</div>
  <div class="cdx-card-ctl item-controls"><a class="item-control item-edit"><i class="fas fa-edit"></i></a><a class="item-control item-delete"><i class="fas fa-trash"></i></a></div>
</div>
{{/iff}} {{/each}}
