<div class="updateNotification">
  <h2>Star Wars FFG v{{ version }}</h2>
  Hello! Welcome to a new version of the Star Wars FFG system. :)
  {{!-- Advance notice for 2.1.6. Remove it in the release that moves Codex II out. --}}
  <p><i class="fas fa-triangle-exclamation"></i> <strong>Codex II will be moved to a separate module with next release.</strong></p>
  <hr>
  <div class="updateLinks">
    Useful links:<br>
    • <a href="https://github.com/YeNov/StarWarsFFG/releases/tag/v{{ version }}">What's new in v{{ version }}</a><br>
    • <a href="https://github.com/YeNov/StarWarsFFG/blob/main/CHANGELOG.md">Full changelog</a><br>
    • <a href="https://github.com/YeNov/StarWarsFFG/wiki">System Wiki</a><br>
  </div>
  <hr>
  This message will show once per version update.
</div>
